* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: #485673;
    font-family: Arial;
    height: 100vh;
  }

  /* se a tela tiver pelo menos 400 px, vai carregar estes estilos*/
  @media (min-width: 400px) {
  body {
      font-size: 14px;
      
  }

header {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../img/Skyview\ to\ the\ West\ -\ View\ from\ the\ 17th\ floor\ of\ the\ Canada\ Life\ building_\ Doors\ Open\ Toronto\ 2017.jpg');
  }

  .menu {
    background-color: #2B3040; 
    position: fixed;
    width: 100vw;
    top: 0;
  }
  
  .menu ul {
      display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none; 
  }

  .menu a {
    display: block;
    padding: 10px 20px;
    --background: aqua;
  }
  
  a {
    color:#A697A2;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title {
    color:rgb(189, 181, 187);
    text-align: center;
  }
  
  .site-subtitle {
    font-style: italic;
  }

  .img-portfolio {
    height: 180px;
    width: 180px;
  }