* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: #485673;
    font-family: 'Roboto Mono', monospace;
    height: 100vh;
    }

  header {
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center, bottom right;
    background-image: url('../img/full.jpg');
    display: flex;
    height: 80vh;
    justify-content: center;
    width: auto;
   }

  /* se a tela tiver pelo menos 320 px, vai carregar estes estilos*/
  @media (min-width: 320px) {
    body {
      font-size: 5px;
      }
    }

  /* breakpoint de 600 px*/
  @media (min-width: 600px) {
    body {
      font-size: 20px;
      } 
    }
    
  /* breakpoint de 1200 px */
  @media (min-width: 1.200px) {
    body {
      font-size: 40px;
      }
    }
  
  .menu {
    background-color: #09213D; 
    position: fixed;
    width: 100vw;
    top: 0;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none; 
  }

  .menu a {
    display: block;
    padding: 10px 20px;
  }
  
  a {
    color:#A697A1;
    font-size: 15px;
    text-decoration: none;

  }
  a:hover {
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title {
    color:whitesmoke;
    text-align: center;
    }
  
  .img-portfolio {
    height: 180px;
    width: 180px;
  }