* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: #485673;
    font-family: 'Roboto Mono', monospace;
    height: 100vh;
    }

  header {
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center, bottom right;
    background-image: url('../img/full.jpg');
    display: flex;
    height: 80vh;
    justify-content: center;
    width: auto;
   }

  /* se a tela tiver pelo menos 320 px, vai carregar estes estilos*/
  @media (min-width: 320px) {
    body {
      font-size: 10px;
    }
  }

  /* breakpoint de 600 px */
  @media (min-width: 600px) {
    body {
      font-size: 20px;
    } 
  }
    
  /* breakpoint de 1200 px */
  @media (min-width: 1200px) {
    body {
      font-size: 40px;
    }
    .portfolio {
      font-size: 20px;
    }
  }
  
  .menu {
    background-color: #09213D; 
    position: fixed;
    width: 100vw;
    top: 0;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none; 
  }

  .menu a {
    display: block;
    padding: 10px 20px;
  }
  
  a {
    color:#A697A1;
    font-size: 15px;
    text-decoration: none;

  }
  a:hover {
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title {
    color:whitesmoke;
    text-align: center;
  }
  
  .portfolio {
    padding: 2em;
    height: 100vh;
    color:#A697A1;
  }

  .portfolio h2 {
    margin-bottom: 20px;
    font-size: 40px;
  }

  .portfolio .grid {
    display: grid;
    gap: 2em;
  }

  @media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 260px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 48px);
  }
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width: 240px;
  object-fit: cover;
  object-position: left bottom;
}